html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Courier New', 'Consolas', 'Monaco', monospace;
  background: #000000;
  color: #00ffff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}